$site_width_lg: 1400;
$site_width_md: 1200;
$site_width_sm: 1023;
$site_width_xs: 767;
$color-black: #000000;
$color-white: #ffffff;
$color-red: #ed1c24;
$color-gray-3:#d9d9d9;
$color--black: #000;
$dot-border-color: #7f7f7f;
$color--black: #000;
$color-black-secondary: #010101;
$color--white: #fff;
$color--grey: #ddd;
$color--pink: #a7324f;
$color-light-grey: #565656;
$color-dark-grey: #acacac;
$color-dim-grey: #747474;
$color-light-grey-2 : #D2D2D2;
$color-light-grey-1: #fafafa;
$color-default-light-grey: #d3d3d3;
$border-color: #d2d2d2;
$dot-border-color: #7f7f7f;
$color-announcement-bar: #424242;
$color-dark-gray: #444;
$backgound-color: #F3F3F3;
$color-red: #ff0000;
$color-green: #3c763d;
$color-green-light: #d6e9c6;
$zoom-btn-color: #141414;
$color-border: #e9e9e9;
$color-border-grey:#808080;
$close-btn-color: #414141;
$box-shadow: #0e111150;
$close--btn-shadow: #00000029;