.home-video-wrap {
    .text-wrap-mobile {
      padding: 30px 20px 20px;
      .title {
        font-size: 22px;
        @include mq("phone") {
          color: $color-grey-text;
        }
      }
      .para {
        font-size: 13px;
        color: $font-gray;
        @include mq("phone") {
          font-size: 14px;
          line-height: 25px;
          margin-bottom: 40px;
        }
      }
      p {
        line-height: 1.3;
        @include mq("phone") {
          line-height: 1.5;
        }
      }
    }
    .video-inner-wrap {
      &.full-screen-video {
        position: fixed;
        z-index: 99;
        top: 0;
        width: 100%;
        @include mq("phone") {
          top: 50%;
          @include transform(translateY(-50%));
        }
      }
      .video-wrap {
        position: relative;
        video {
          display: block;
          @include mq("phone") {
            margin-top: -10px;
          }
        }
        img {
          width: 100%;
        }
        .volume-sound-icon,
        .volume-fullscreen-icon,
        .mobile-play-icon {
          position: absolute;
          right: 3%;
          top: 9%;
          z-index: 4;
          cursor: pointer;
          @include flexbox;
          @include align-items(center);
          padding: 7px;
          color: #ffffff;
          .pause {
            display: none;
          }
          &.play-mode {
            .play {
              display: none;
            }
            .pause {
              display: block;
            }
          }
          .mobile-svg {
            width: 52px;
            height: 52px;
          }
          @include mq("phone") {
            padding: 5px;
            left: auto;
            right: 10px;
            bottom: 1%;
            top: unset;
          }
          @include mq("tablet") {
            top: 12%;
          }
          .tap-text {
            margin: 0 10px;
            @include mq("phone") {
              margin: 0 5px;
            }
          }
          .volume-icon {
            width: 28px;
            @include mq("phone") {
              width: 20px;
            }
          }
        }
        .volume-fullscreen-icon {
          top: 3%;
          @include mq("phone") {
            bottom: 5%;
            top: unset;
            &.volume-icon {
              bottom: 12%;
            }
          }
          img.fullscreen-icon {
            height: 30px;
            width: 30px;
            @include mq("phone") {
              width: 20px;
              height: 20px;
            }
          }
        }
        .mobile-video-wrapper {
          @include mq("phone") {
            margin-top: -10px;
            position: relative;
          }
  
          .volume-fullscreen-icon {
            @include mq("phone") {
              bottom: 4%;
            }
  
            &.fullscreen-icon {
              bottom: 41%;
            }
          }
  
          .volume-sound-icon {
            &.fullscreen-icon {
              bottom: 37%;
            }
          }
  
          .hide {
            display: none;
          }
  
          .mobile-img {
            display: block;
          }
        }
        .mobile-play-icon {
          padding: 0px;
          top: 50%;
          left: 50%;
          width: 50px;
          height: 50px;
          @include transform(translate(-50%, -50%));
          @include mq("phone") {
            &.mobile-icon {
              bottom: 40%;
            }
          }
        }
        .mobile-text-wrapper {
          position: absolute;
          top: 40px;
          left: 0px;
          padding: 30px;
          .mobile-text {
            font-size: 22px;
            margin-bottom: 40px;
          }
          @include mq("tablet-and-up") {
            display: none;
          }
        }
        .text-wrap {
          position: absolute;
          width: 100%;
          text-align: center;
          @include transform(translateX(-50%));
          margin: 0 auto;
          max-width: 40%;
          text-align: left;
          &.only-text-wrap {
            @include mq("tablet-and-up") {
              top: 10%;
              left:39%;
              max-width: 60%;
              bottom: initial !important;
              h3 {
                // text-shadow: 1px 1px 1px #000;
              }
            }
          }
          @include mq("phone") {
            max-width: 100%;
            transform: none;
            left: 0;
            padding: 0 30px;
          }
          @include mq("tablet") {
            max-width: 60%;
            width: auto;
            transform: none;
            left: 10%;
          }
          .text-inner-wrap {
            text-align: left;
            .title {
              margin: 0 auto;
              margin-bottom: 10px;
              line-height: 1.3;
              font-family: $header-font;
              text-transform: uppercase;
              @include mq("tablet") {
                font-size: 25px;
                margin-top: 0px;
              }
              @include mq("phone") {
                font-size: 20px;
                display: none;
              }
            }
            .description {
              font-size: 17px;
              font-family: $base-font;
              margin-bottom: 26px;
              line-height: 25px;
              @include mq("phone") {
                font-size: 14px;
                display: none;
              }
            }
            .button-section {
              .home-shop-btn {
                display: inline-flex;
                width: 220px;
                font-size: 12px;
                margin: 0;
                letter-spacing: 0.8px;
                padding: 0 !important;
                height: 35px;
                line-height: 35px;
                text-align: center;
                @include justify-content(center);
                font-family: $font-avenir-medium;
                color: $color-light-gray;
                @include mq("tablet") {
                  font-size: 12px;
                  margin-bottom: 10px;
                }
                @include mq("phone") {
                  width: 100%;
                  font-size: 12px;
                  padding: 10px 20px;
                  margin: 8px 0;
                  min-width: auto;
                }
              }
              .home-shop-btn:hover {
                color: $yellow-border-color;
              }
            }
          }
        }
      }
      .video-section {
        position: relative;
      }
    }
  }
  
  //home-page sections scss
  .template-index {
    .home-collection-wrapper {
      .grid-product__tag {
        display: block;
        background-color: $color--light-yellow;
        color: $color--white;
        letter-spacing: 0.7px;
        font-family: $header-font;
        padding: 7px 6px 7px 8px;
        opacity: 1;
        @include mq("phone-and-tablet") {
          width: 100%;
          text-align: center;
          top: 0;
          padding: 6px 23px 6px 23px;
        }
        &.hp-cub-list {
          text-transform: unset;
          @include mq("tablet-and-up") {
            text-transform: uppercase;
          }
        }
      }
      .grid-product__content {
        .grid-product__meta {
          .grid-product__price {
            span {
              a {
                color: $color--dark-grey;
                font-family: $font-avenir-medium;
                @include mq("phone") {
                  color: $color-off-greay;
                }
              }
            }
          }
          .grid-product__metatitle {
            p {
              color: $color--dark-grey;
            }
          }
        }
      }
    }
    .background-image-text-wrapper {
      .background-media-text__aligner {
        .background-media-text__subtext {
          p {
            font-family: initial;
            @include mq("phone") {
              color: $font-gray;
            }
          }
        }
        .background-media-text__text.background-transparent .btn {
          @include mq("phone") {
            color: $font-gray;
            @include font_size(1.1);
          }
        }
      }
    }
    .hero__text-wrap {
      .hero__subtitle {
        width: 100%;
      }
      .hero__link {
        display: block;
        margin-top: 20px;
      }
    }
  }
  //slideshow.liquid file css
  .hero__text-wrap {
    .animation-cropper {
      .animation-contents {
        .slide-link {
          color: $color--white;
          line-height: 25px;
        }
      }
    }
    .mid-parfums {
      .hero__title.sub_title {
        .animation-cropper {
          .animation-contents {
            .slide-link {
              font-family: $font-avenir-roman;
              font-size: 20px;
              text-transform: uppercase;
            }
          }
        }
      }
      .hero__subtitle {
        .animation-cropper {
          .animation-contents {
            .slide-link {
              font-family: $base-font;
              font-size: 17px;
              text-transform: capitalize;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
  .vimeo-div-wrap {
    padding: 56.25% 0 0 0;
    position: relative;
  
    @include mq("phone") {
      height: 100%;
    }
  }
  